* {
  margin: 0;
  padding: 0;
}

html, body, #root, .container, .panel-body {
  height: 100%;
}

.panel {
  position: absolute;
  top: 5%;
  height: 90%;
  width: 95%;
}

.full-height {
  height: 100%;
}

#user-list {
  width: auto;
}

#chat-display {
  margin: auto;
  margin-bottom: 1px;
  height: 93%;
}

#message-tabs {
  height: 100%;
}

#message-tabs > * {
  margin-top: 0px;
  padding-right: 0px;
}

#message-tabs .tab-content {
  height: 88%;
  overflow: auto;
  overflow-wrap: break-word;
  margin-top: 8px;
}
