* {
  margin: 0;
  padding: 0;
}

html, body, #root, .container, .panel-body {
  height: 100%;
}

.panel {
  margin-top: 5%;
  height: 90%;
}

.full-height {
  height: 100%;
}

#chat-display {
  margin: auto;
  margin-bottom: 3%;
  height: 90%;
  overflow-y: scroll;
  overflow-wrap: break-word;
}
